<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matthew Ginsberg, CPA</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="public/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="public/css/main.css">
</head>

<body>
  <div class="overall-wrapper">

    <header class="panel">
      <img id="avatar" src="/public/img/avatar.jpg" alt="Matthew Ginsberg Picture">
      <div id="name-wrapper">
        <h1>Matthew Z. Ginsberg, CPA</h1>
        <h2>Tax Accountant & Consultant</h2>
      </div>
    </header>

    <section id="bio" class="panel">
      <article>
        For nearly 7 years Matthew Ginsberg has provided tax and consulting services to real
        estate developers, U.S. companies with foreign operations, and publicly traded
        corporations in a variety of industries.
        Matthew specializes in accounting for income taxes with a focus on identifying the most
        appropriate tax accounting methods for generating cash flows, tax planning for real estate
        transactions and development, and structuring foreign investments.
      </article>
    </section>

    <section id="skills" class="panel">
      <h2> Areas of Focus </h2>
      <ul>
        <li> Business tax consulting and compliance </li>
        <li> Tax accounting methods </li>
        <li> New tangible property regulations </li>
        <li> State and local tax </li>
        <li> International tax </li>
        <li> Foreign investments </li>
        <li> Trusts and estates </li>
      </ul>
    </section>

    <section id="industry" class="panel">
      <h2> Primary Industries Served </h2>
      <ul>
        <li> Commercial, retail, and residential real estate owners and developers  </li>
        <li> Hotels </li>
        <li> Family businesses </li>
        <li> Software developers </li>
        <li> Manufacturers </li>
        <li> High-net-worth individuals </li>
      </ul>
    </section>

    <section id="affiliations" class="panel">
      <h2> Professional Affiliations and Licenses </h2>
      <ul>
        <li> American Institute of Certified Public Accountants (AICPA) </li>
        <li> Florida Institute of Certified Public Accountants (FICPA) </li>
        <li> Certified Public Accountant in the State of Massachusetts </li>
      </ul>
    </section>

  </div>

</body>

</html>
