<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matthew Ginsberg, CPA</title>
  <link rel="stylesheet" type="text/css" href="public/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="public/css/main.css">
</head>

<body>

  <header>
    <img src="/public/img/avatar.jpg" alt="Matthew Ginsberg Picture">
    <h1>Matthew Ginsberg, CPA</h1>
    <h2>Tax Accountant</h2>
  </header>

</body>

</html>
